# [作業目標]
- 使用 Day 12 剛學到的方法, 對較完整的資料生成離散化特徵
- 觀察上述離散化特徵, 對於目標值的預測有沒有幫助

# [作業重點]
- 仿照 Day 12 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
- 繪製上述的 "離散化標籤" 與目標值 ('TARGET') 的長條圖

In [27]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = '../data/'

### 之前做過的處理

In [28]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [29]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [35]:
#仿照 Day 12 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
app_train['AGE'] = (app_train['DAYS_BIRTH']/365).apply(int)
#app_train.sort_values(by='AGE').head(20)

rule=range(0,110,10)
app_train['AGE_GRP'] = pd.cut(app_train['AGE'], rule)

app_train['AGE_GRP'].value_counts()

(30, 40]     83117
(40, 50]     74401
(50, 60]     67819
(20, 30]     52805
(60, 70]     29368
(10, 20]         1
(90, 100]        0
(80, 90]         0
(70, 80]         0
(0, 10]          0
Name: AGE_GRP, dtype: int64

In [38]:
#
app_train.head(20)
#app_train['AMT_INCOME_TOTAL'].describe()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DAYS_EMPLOYED_ANOM,AGE,AGE_GRP
0,100002,1,0,M,0,1,0,202500.000,406597.5,24700.5,...,0,0.0,0.0,0.0,0.0,0.0,1.0,False,25,"(20, 30]"
1,100003,0,0,F,0,0,0,270000.000,1293502.5,35698.5,...,0,0.0,0.0,0.0,0.0,0.0,0.0,False,45,"(40, 50]"
2,100004,0,1,M,1,1,0,67500.000,135000.0,6750.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,False,52,"(50, 60]"
3,100006,0,0,F,0,1,0,135000.000,312682.5,29686.5,...,0,NaN,NaN,NaN,NaN,NaN,NaN,False,52,"(50, 60]"
4,100007,0,0,M,0,1,0,121500.000,513000.0,21865.5,...,0,0.0,0.0,0.0,0.0,0.0,0.0,False,54,"(50, 60]"
5,100008,0,0,M,0,1,0,99000.000,490495.5,27517.5,...,0,0.0,0.0,0.0,0.0,1.0,1.0,False,46,"(40, 50]"
6,100009,0,0,F,1,1,1,171000.000,1560726.0,41301.0,...,0,0.0,0.0,0.0,1.0,1.0,2.0,False,37,"(30, 40]"
7,100010,0,0,M,1,1,0,360000.000,1530000.0,42075.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,False,51,"(50, 60]"
8,100011,0,0,F,0,1,0,112500.000,1019610.0,33826.5,...,0,0.0,0.0,0.0,0.0,0.0,1.0,True,55,"(50, 60]"
9,100012,0,1,M,0,1,0,135000.000,405000.0,20250.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,False,39,"(30, 40]"
10,100014,0,0,F,0,1,1,112500.000,652500.0,21177.0,...,0,0.0,0.0,0.0,1.0,0.0,0.0,False,27,"(20, 30]"
11,100015,0,0,F,0,1,0,38419.155,148365.0,10678.5,...,0,0.0,0.0,0.0,0.0,0.0,2.0,True,55,"(50, 60]"
12,100016,0,0,F,0,1,0,67500.000,80865.0,5881.5,...,0,0.0,0.0,0.0,1.0,0.0,0.0,False,36,"(30, 40]"
13,100017,0,0,M,1,0,1,225000.000,918468.0,28966.5,...,0,0.0,0.0,0.0,0.0,0.0,1.0,False,38,"(30, 40]"
14,100018,0,0,F,0,1,0,189000.000,773680.5,32778.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,False,39,"(30, 40]"
15,100019,0,0,M,1,1,0,157500.000,299772.0,20160.0,...,0,0.0,0.0,0.0,0.0,0.0,1.0,False,23,"(20, 30]"
16,100020,0,0,M,0,0,0,108000.000,509602.5,26149.5,...,0,0.0,0.0,0.0,0.0,1.0,0.0,False,35,"(30, 40]"
17,100021,0,1,F,0,1,1,81000.000,270000.0,13500.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,False,26,"(20, 30]"
18,100022,0,1,F,0,1,0,112500.000,157500.0,7875.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,False,48,"(40, 50]"
19,100023,0,0,F,0,1,1,90000.000,544491.0,17563.5,...,0,0.0,0.0,0.0,0.0,0.0,2.0,False,31,"(30, 40]"

In [45]:
#app_train['AMT_INCOME_TOTAL_RANGE'] 

#app_train['AMT_INCOME_TOTAL'].describe()
#max = 117000000
#min = 25650
#25% = 112500
#50% = 147150
#75% = 202500

app_train["equal_freq_AMT_INCOME_TOTAL"] = pd.qcut(app_train['AMT_INCOME_TOTAL'], 10)
app_train["equal_freq_AMT_INCOME_TOTAL"].value_counts()

(112500.0, 135000.0]       48849
(180000.0, 225000.0]       44809
(99000.0, 112500.0]        36907
(25649.999, 81000.0]       33391
(147150.0, 162000.0]       31120
(162000.0, 180000.0]       30704
(81000.0, 99000.0]         30280
(270000.0, 117000000.0]    27161
(225000.0, 270000.0]       19957
(135000.0, 147150.0]        4333
Name: equal_freq_AMT_INCOME_TOTAL, dtype: int64

In [55]:
grp_rule = [10000, 50000, 100000, 150000, 200000, 1000000, app_train['AMT_INCOME_TOTAL'].max()]
app_train["AMT_INCOME_TOTAL_GRP"] = pd.cut(app_train['AMT_INCOME_TOTAL'], grp_rule)
app_train["AMT_INCOME_TOTAL_GRP"].value_counts()

(100000.0, 150000.0]        91591
(200000.0, 1000000.0]       87665
(150000.0, 200000.0]        64307
(50000.0, 100000.0]         59181
(10000.0, 50000.0]           4517
(1000000.0, 117000000.0]      250
Name: AMT_INCOME_TOTAL_GRP, dtype: int64